[submodule "theme/mainroad"]
	path = theme/mainroad
	url = https://github.com/vimux/mainroad
[submodule "theme/hugo-theme-air"]
	path = theme/hugo-theme-air
	url = https://github.com/syui/hugo-theme-air
[submodule "theme/hugo_theme_beg"]
	path = theme/hugo_theme_beg
	url = https://github.com/dim0627/hugo_theme_beg.git
[submodule "theme/hugo-creative-portfolio-theme"]
	path = theme/hugo-creative-portfolio-theme
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme.git
[submodule "theme/hugo-hello-programmer"]
	path = theme/hugo-hello-programmer
	url = https://github.com/lubang/hugo-hello-programmer-theme
[submodule "theme/hugo-elate-theme"]
	path = theme/hugo-elate-theme
	url = https://github.com/saey55/hugo-elate-theme
[submodule "theme/hugo-icon"]
	path = theme/hugo-icon
	url = https://github.com/SteveLane/hugo-icon.git
[submodule "theme/hugo-theme-wave"]
	path = theme/hugo-theme-wave
	url = https://gitlab.com/syui/hugo-theme-wave.git
[submodule "theme/hugo-tranquilpeak-theme"]
	path = theme/hugo-tranquilpeak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "theme/hugo-travelify-theme"]
	path = theme/hugo-travelify-theme
	url = https://github.com/balaramadurai/hugo-travelify-theme.git
